# Godot 4+ specific ignores
.godot/
/android/

# .NET ignores
[Bb]in/
[Oo]bj/
*.user
*.suo
*.csproj.user
*.dbmdl
*.jfm
*.pfx
*.vspscc
*.vssscc
*.builds
*.log
*.bak
*.cache
*.ncb
*.opendb
*.opensdf
*.sdf
*.sqlite
*.sqlite-journal
*.tlog
*.tmp
*.vs/
*.vsp
*.vspx
*.webtest
*.webtest.user
*.resharper
*.dotSettings
*.pidb
*.booproj
.nuget/
.packages/
Tests/TestResults/*